Repository alexborisewich/test-task-itprofit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --max-warnings=0, npm run lintstyles --max-warnings=0, prettier --write

feat: add feedback form layout
  src/index.html
Due: prettier --write

feat: add feedback form styles
  src/index.scss
  src/sass/base/index.scss
  src/sass/components/_form.scss
  src/sass/components/index.scss
  src/sass/layout/_main.scss
  src/sass/layout/index.scss
  src/sass/variables/index.scss
Due: npm run lintstyles --max-warnings=0

feat: add form validation with phone mask
  package-lock.json
  package.json
  src/index.ts
  src/modules/formValidation.ts
Due: npm run lint --max-warnings=0, prettier --write

fix: change eslint config
  .eslintrc
Due: none

feat: add code for api request
  src/modules/apiRequest.ts
  src/modules/formValidation.ts
  src/types/index.ts
Due: npm run lint --max-warnings=0

feat: add modal layout
  src/index.html
Due: prettier --write

feat: add modal styles
  src/sass/components/_button.scss
  src/sass/components/_form.scss
  src/sass/components/_modal.scss
  src/sass/components/index.scss
  src/sass/layout/_main.scss
Due: npm run lintstyles --max-warnings=0

feat: add code for control modal
  src/index.ts
  src/modules/.gitkeep
  src/modules/modalWindow.ts
Due: npm run lint --max-warnings=0

feat: deploy app to github pages
  bundle.7a91c7fed4c24eb40a7d.js
  favicon.ico
  index.html
  main.bd321eb62bf964fbead3.css
  robots.txt
Due: npm run lint --max-warnings=0, npm run lintstyles --max-warnings=0, prettier --write

Path conditions:
  npm run lint --max-warnings=0: any of: *.{js,ts,jsx,tsx}
  npm run lintstyles --max-warnings=0: any of: *.{css,scss}
  prettier --write: any of: *.{html,md,json}
